In [1]:
import pandas as pd

### Задание 1.1.
Стоимость набора из 25 продуктов питания по некоторым городам центрального региона России по состоянию на декабрь 1998 г. приведена в таблице task1_1.csv
Необходимо рассчитать основные показатели описательной статистики.

In [16]:
data = pd.read_csv("data/lab2/task1_1.csv")
data.head()

      Город  Стоимость набора
0  Владимир            389.04
1   Вологда            417.78
2   Иваново            394.00
3  Кострома            371.96
4    Москва            525.96

In [19]:
print(data["Стоимость набора"].describe(include="all"))

count      9.000000
mean     416.031111
std       44.133710
min      371.960000
25%      394.000000
50%      405.120000
75%      418.970000
max      525.960000
Name: Стоимость набора, dtype: float64